
services:
 admin:
  build:
   context: ./Admin
   dockerfile: Dockerfile
  container_name: admin
  ports:
     - "5147:5173"
  env_file:
   - ./Admin/.env 



 client:
  build:
   context: ./Frontend
   dockerfile: Dockerfile
  container_name: client
  ports:
    - "5173:5173"
  env_file:
   - ./Frontend/.env 






 backend:
    build:
     context: ./Backend
    container_name: backend_app
    ports:
      - "7000:7000"
    env_file:
      - ./backend/.env
    restart: always
    depends_on:
      - mongo
  


 mongo:
     image: mongo:6
     container_name: mongo_db
     restart: always
     ports:
      - "27017:27017"
     environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: exa
      MONGO_INITDB_DATABASE: e-store
     volumes:
      - mongo_data:/data/db




volumes:
    mongo_data:
      
