/* MultiSelect dropdown custom background */
.rmsc .dropdown-heading,
.rmsc .dropdown-list {
    background-color: #f8f9fa !important;
    /* light gray like Bootstrap */
    border: 1px solid #ced4da !important;
    border-radius: 5px;
}

.rmsc .dropdown-item {
    padding: 0.25rem 0.5rem;
}

.rmsc .dropdown-item:hover {
    background-color: #e9ecef !important;
}

.rmsc-selected-item {
    background-color: #ffffff !important;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
    margin: 2px;
}