.feature-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.feature-card:hover{
    background-color: #FFD333 !important;
  
    transition: all 1s ease;
}
.feature-card:hover i {
    color: white !important;
}
.feature-card:hover h5 {
    color: white !important;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 4px;
    bottom: 0;
    background-color:#FFD333;
    z-index: -1;
}