.feature-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.feature-card:hover{
    background-color: #FFD333 !important;
  
    transition: all 1s ease;
}
.feature-card:hover i {
    color: white !important;
}
.feature-card:hover h5 {
    color: white !important;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 4px;
    bottom: 0;
    background-color:#FFD333;
    z-index: -1;
}
.btn-primary:hover{
    background-color:#3D464D !important;
    text-shadow: 10px 10px 10px 60px;
    color:#FFD333 !important;
}

.navbar-nav.dropdown .nav-link{
    background-color:#3D464D;
    color:#FFD333 !important;
    padding: 5px 10px;
}
.input-group-append span.input-group-text:hover{
    background-color:#3D464D !important;
    color:#FFD333 !important;
    transition: .3s ease;
}
div a.text-dark:hover{
color: #ffd333 !important;
}
.nav-tabs .nav-link.active{
    background-color:#3D464D !important;
    color:#FFD333 !important;
}
.signup-text{
    padding: 20px 40px;
    background-color:#3D464D !important;
    color:#FFD333 !important;
}

h4.signin-text{
    padding: 20px 40px;
        background-color: #3D464D !important;
        color: #FFD333 !important;
}
a.dropdown-item:hover{
background-color: #3d464d !important;
color:#FFD333 !important;
transition: .5s ease;
}