body.background-color{
background: linear-gradient(60deg,
            #FFD333 25%,
            #e9d69f 65%,
            #5a636a 85%);
background-blend-mode:hue;
}



.feature-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #3D464D !important;
    color: #FFD333 !important;
}
.feature-card:hover{
    background-color: #FFD333 !important;
  
    transition: all 1s ease;
}
.feature-card:hover i {
    color: white !important;
}
.feature-card h5  {
 color: #FFD333 !important;
}

.feature-card:hover h5 {
    color: white !important;
}
.section-title::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 4px;
    bottom: 0;
    background-color: #3D464D;
    z-index: -1;
}
.bg-secondary{
 background-color: #3D464D !important;
 color: #FFD333 !important;
 padding: 10px 20px;
}
.btn-primary:hover{
    background-color:#3D464D !important;
    box-shadow: 10px 10px 20px rgba(0.1 , 0.2 , 0 , 0.3);
    color:#FFD333 !important;
    transition: .5s ease;
}

.navbar-nav.dropdown .nav-link{
    background-color:#3D464D;
    color:#FFD333 !important;
    padding: 5px 10px;
}
.input-group-append button.input-group-text:hover{
    background-color:#FFD333 !important;
    color:#3D464D !important;
    transition: .3s ease;
    border-color: #e9d69f !important;
}
div a.text-dark:hover{
color: #ffd333 !important;
}
.nav-tabs .nav-link.active{
    background-color:#3D464D !important;
    color:#FFD333 !important;
}
.signup-text{
    padding: 20px 40px;
    background-color:#3D464D !important;
    color:#FFD333 !important;
}

h4.signin-text{
    padding: 20px 40px;
        background-color: #3D464D !important;
        color: #FFD333 !important;
}
a.dropdown-item:hover{
background-color: #3d464d !important;
color:#FFD333 !important;
transition: .5s ease;
}
.logout-tab:hover{
    background-color: #3d464d !important;
        color: #FFD333 !important;
        transition: .5s ease;
}

.btn-carousel:hover{ 
 background-color: #FFD333 !important;
 color: #3D464D !important;
 transition: .5s ease;
 border: 2px solid #3D464D !important;
}

.nav-pills .nav-link.text-start{
    color:#FFD333 !important;
    margin-block: 6px;
}
.nav-pills .nav-link.text-start.active {
    color: #3d464d !important;
    margin-block: 6px;
}
.card-body{
    background-color: #3D464D  !important;
    color: #FFD333 !important;
}
.card-body .fw-semibold{
    color: #FFD333 !important;
}
.topbar-text{
    color: #FFD333 !important;
}
.cat-item:hover{
    background-color: #3D464D !important;
    color: #FFD333 !important;
    transition: all .3s ease;

}
.cat-item:hover h3{
    color: #FFD333!important;
    transition: .2s ease;
}
.cat-item:hover .text-body{
    color: #e9d69f !important;
}
.product-action .btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}
.product-item:hover .product-action .btn:nth-child(1) {
    opacity: 1 !important;
    margin-top: 0;
    transition: .3s .05s;
}
.form-custom{
    color: #3D464D !important;
    font-size: 20px !important;
    background-color: #e9d69f !important;
}

.btn-saveShipping{
    background-color: #3D464D !important;
    color:#e9d69f !important;
}

.infinite-scroll-component{
    overflow: hidden !important;
    overflow-y: auto !important;
}
.infinite-scroll-end-text{
    font-size: 30px !important;
    color: #3D464D;
    font-weight: 600 !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* --------------------------------------------------------------------------------------*/